body {
	background-color: #191919 !important;
}

#tweet-text {
	color: grey;
	font-size: 20px;
	position: absolute;
}

.container {
	margin-bottom: 50px;
}

#map {
	overflow: hidden;
}

svg {
	margin-bottom: -80px;
}
