body {
	background-color: #191919 !important;
}

#tweet {
}

#tweet-text {
	text-align: center;
	line-height: 100px;
	position: absolute;
	color: grey;
	font-size: 24px;
	float: right;
}

h1 {
}

svg {
	margin-top: -10px;
}