body {
	background-color: #191919 !important;
}

#tweet-text {
	color: grey;
	font-size: 20px;
	position: absolute;
	margin-top: -10px;
}

.container hr {
	border-color: #343434;
}

.container {
	margin-bottom: 10px;
}

.container p {
	color: #484848;
}

#map {
	overflow: hidden;
}

svg {
	margin-bottom: -80px;
}
